page{
    height: calc( 100vh - 280px - constant(safe-area-inset-bottom) );
    height: calc( 100vh - 280px - env(safe-area-inset-bottom));
    overflow: hidden;
}
.ys-search-page{
    height: 100%;
    padding-top: 40px;
    .search-back{
        color: #1989fa;
    }
    .search-page-item{
        padding: 0 50px;
    }
    .search-back{
        font-size: 32px;
    }
    .taroify-input{
        font-size: 32px;
    }
    .search-page-content{
        height: calc( 100vh - 280px - constant(safe-area-inset-bottom));
        height: calc( 100vh - 280px - env(safe-area-inset-bottom));
    }
}