
page {
    height: 100vh;
    overflow: hidden;
    padding-top: 130px;
  }

.taroify-fixed-view--top{
    top: 170px;
}
.taroify-fixed-view--top,
.taroify-fixed-view--bottom {
  z-index: 9;
}

.ys-shop {
  height: 100%;
  #toast{
    font-size: 32px;
    }
  .ys-shop-time-disabled {
    .taroify-empty__description{
        font-size: 36px;
    }

    .time-disabled-img {
      height: 400px;
    }
  }

  .taroify-fixed-view {
    background: #FFF;
  }

  .shop-btn-line {
    display: flex;
    padding: 20px;
    // margin-bottom: 20px;
    border-bottom: 2px solid #eee;

    .btn-left {
      display: flex;
      flex: 3;

      .btn-tab {
        display: flex;
        align-items: center;
        border-radius: 50px;
        border: 2px solid #eee;
        height: 60px;
        margin-right: 20px;

        .tab-item {
          border-radius: 50px;
          padding: 10px 30px;
          font-size: 32px;
        }

        .tab-item-active {
          background-color: #1989fa;
          color: #fff;
          padding: 12px 40px;
        }
      }
    }

    .btn-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 2;

      .btn-search {
          width: 100%;
        display: flex;
        align-items: center;
        border: 2px solid #eee;
        border-radius: 50px;
        height: 60px;
        font-size: 32px;
        padding: 0 30px;
        color: #bdbdbd;
      }
    }
  }

  .shop-search {
    .taroify-badge-wrapper {
      font-size: 1rem;
    }
  }

  .shop-top-category {
    height: calc(100% - 40px);
    border-bottom: 2px solid #eee;
    background-color: #fff;
    z-index: 9;

    .taroify-tabs__wrap {
      height: 180px;

      .taroify-tabs__tab {
        flex-basis: 25% !important;

        .taroify-badge-wrapper {
          .taroify-tabs__tab__content {
            .taroify-tabs__tab__content-ellipsis {
              .list-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 28px;

                .taroify-avatar {
                  margin-bottom: 20px;
                }

                .tab-name {
                  font-size: 32px;
                }
              }
            }
          }
        }
      }

      .taroify-tabs__tab--active {
        color: #1989fa;
      }

      .taroify-tabs__line {
        display: none;
      }
    }
  }

  .ys-index-bottom-btns {
    // bottom: 100px; //160
    bottom: calc( constant(safe-area-inset-bottom) + 100px ) ;
    bottom: calc( env(safe-area-inset-bottom) + 100px ) ;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    box-sizing: border-box;

    .bottom-btns-notice {
      padding: 20px 30px;
      background-color: #FFF5F2;
      font-size: 32px;
      height: 40px;
    }

    .bottom-btns-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 32px;
      padding: 20px 40px;

      .bottom-btns-left {
        flex: 1;
      }

      .bottom-btns-right {
        display: flex;
        flex: 2;
        justify-content: flex-end;

        .taroify-button {
          border-radius: 40px;
          font-size: 32px;

          &:nth-child(1) {
            width: 150px;
            margin-right: 20px;
          }

          &:nth-child(2) {
            width: 200px;
          }
        }
      }
    }


  }

  .stock-body-wrap {
    // padding: 260px 0 100px 0; //panContent
  .stock-left {
    position: fixed;
    right: 0;
    top: 100px;
    bottom: 200px;
    z-index: 9999;

    .stock-left-sidebar {
      height: 100%;
      width: 320px;
    }
  }

  .stock-right {
      height: calc( 100% - 100px );
    .taroify-index-list {
      .taroify-index-list_scroll {
        margin-top: 100px !important;
      }
    }
  }
}

}


.taroify-index-list.inner {
  //   top: 100px;
  height: calc(100% - 300px) !important;
  //   padding: 0 200px 0 50px;
}



