.ys-stock-container {
    height: 100%;
  
    .container-swiper {
      height: calc(100% - 100px);
    }
  
    .container-swiper-item {
      height: 100%;
  
      .swiper-more {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8A8A8A;
        font-size: 28px;
      }
    }
  
    .scroll-view {
      // margin-top: 100px;
      height: calc(100vh - 240px)

    }
    .shop-item-warning{
        font-size: 26px;
        min-height: 50px;
        // line-height: 50px;
        display: flex;
        align-items: center;
        padding: 0 50px;
        .van-icon{
            margin-right: 10px;
        }
    }
    .shop-item-warning-info{
        color: #ed6a0c;
    }
  
    .stock-left {
      position: fixed;
      right: 0;
      top: 275px;
      bottom: 206px;
      bottom: calc( constant(safe-area-inset-bottom) + 206px );
      bottom: calc( env(safe-area-inset-bottom) + 206px );
      z-index: 9;
  
      .stock-left-sidebar {
        height: 100%;
        width: 280px;
        .taroify-sidebar-tab {
            background-color: #E0EBFF;
            text-align: center;
            font-weight: bold;
            font-size: 32px;
        }

        .taroify-sidebar-tab--active, .taroify-sidebar-tab--active:active {
            background-color: #5176FE;
            color: #FFF;
        }
      }
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
    }
    .stock-left.show{
        transform: translateX(0);
    }
    .floating-bubble{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        bottom: 220px;
        background-color: #5176FE;
        border-radius: 48%;
        width: 100px;
        height: 100px;
        font-size: 52px;
        // padding: 20px;
        box-sizing: border-box;
        color: #FFF;
        .van-icon{
            margin-left: 10px;
        }

    }
    .floating-bubble-show{
        right: 240px;
        transform: translateX(-10px);
    }
    .floating-bubble-hide{
        right: -35px;
        transition: transform 0.3s ease-in-out;
        transform: translateX(0);
    }
}


.ys-stock-index-notice{
    .stock-left {
        bottom: 280px;
        bottom: calc( constant(safe-area-inset-bottom) + 280px );
        bottom: calc( env(safe-area-inset-bottom) + 280px );
    }
    .floating-bubble{
        bottom: 300px;
        bottom: calc( constant(safe-area-inset-bottom) + 300px );
        bottom: calc( env(safe-area-inset-bottom) + 300px );
    }
    

}
.ys-stock-index{
    .stock-left {
        bottom: 206px;
        bottom: calc( constant(safe-area-inset-bottom) + 206px );
        bottom: calc( env(safe-area-inset-bottom) + 206px );
    }
    .floating-bubble{
        bottom: 300px;
        bottom: calc( constant(safe-area-inset-bottom) + 300px );
        bottom: calc( env(safe-area-inset-bottom) + 300px );
    }
    

}

.ys-stock-add-more{
    .container-swiper{
        height: 100%;
    }
    .container-swiper-item{
        height: 100%;
        .swiper-more{
            // margin-top: -100px;
        }
    }
    .scroll-view{
        height: calc( 100vh - 250px );
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
    .stock-left {
        position: fixed;
        right: 0;
        top: 100px;
        bottom: 130px;
        bottom: calc( constant(safe-area-inset-bottom) + 130px );
        bottom: calc( env(safe-area-inset-bottom) + 130px );
        z-index: 9999;
    
        .stock-left-sidebar {
          height: 100%;
        }
    }
}
  